openapi: 3.2.0
info:
  title: Uplisting Public and Partner Account API
  description: Uplisting is short-term / vacation rental management software and a channel manager.
  version: '1.0'
  contact:
    name: Uplisting Support
    url: https://support.uplisting.io/docs/api
    email: support@uplisting.io
servers:
- url: https://connect.uplisting.io
  description: Production
security:
- basicAuth: []
tags:
- name: Account
  description: Authenticated account/user context.
paths:
  /users/me:
    get:
      operationId: getCurrentUser
      tags:
      - Account
      summary: Get the authenticated user
      description: Returns the account/user associated with the supplied API key. Commonly used to validate credentials and discover account context. Confirmed endpoint.
      responses:
        '200':
          description: The authenticated user/account.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/User'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '429':
          $ref: '#/components/responses/TooManyRequests'
components:
  responses:
    Unauthorized:
      description: Missing or invalid API key.
      content:
        application/json:
          schema:
            $ref: '#/components/schemas/Error'
    TooManyRequests:
      description: Rate limit exceeded. Back off and retry.
      content:
        application/json:
          schema:
            $ref: '#/components/schemas/Error'
  schemas:
    User:
      type: object
      description: The authenticated account/user. Fields modeled.
      properties:
        id:
          type: string
        name:
          type: string
        email:
          type: string
          format: email
        account_id:
          type: string
    Error:
      type: object
      properties:
        error:
          type: string
        message:
          type: string
  securitySchemes:
    basicAuth:
      type: http
      scheme: basic
      description: 'HTTP Basic auth. Send `Authorization: Basic <base64(api_key)>`, where api_key is generated on the Uplisting Connect page. V2 endpoints also require a Client ID partner identifier.'
