openapi: 3.2.0
info:
  title: Uplisting Public and Partner Rates API
  description: Uplisting is short-term / vacation rental management software and a channel manager.
  version: '1.0'
  contact:
    name: Uplisting Support
    url: https://support.uplisting.io/docs/api
    email: support@uplisting.io
servers:
- url: https://connect.uplisting.io
  description: Production
security:
- basicAuth: []
tags:
- name: Rates
  description: Nightly rates and price adjustments (modeled via the calendar).
paths:
  /properties/{propertyId}/rates:
    put:
      operationId: updateRates
      tags:
      - Rates
      summary: Update nightly rates for a property
      description: Sets nightly rates / price adjustments per date for a property; updates propagate to connected channels. Modeled from the documented calendar and pricing behavior - rates are surfaced through the calendar in the public product.
      x-modeled: true
      parameters:
      - $ref: '#/components/parameters/PropertyId'
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/RatesUpdate'
      responses:
        '202':
          description: The rate update was accepted for processing.
        '401':
          $ref: '#/components/responses/Unauthorized'
        '404':
          $ref: '#/components/responses/NotFound'
        '429':
          $ref: '#/components/responses/TooManyRequests'
components:
  responses:
    Unauthorized:
      description: Missing or invalid API key.
      content:
        application/json:
          schema:
            $ref: '#/components/schemas/Error'
    NotFound:
      description: The requested resource was not found.
      content:
        application/json:
          schema:
            $ref: '#/components/schemas/Error'
    TooManyRequests:
      description: Rate limit exceeded. Back off and retry.
      content:
        application/json:
          schema:
            $ref: '#/components/schemas/Error'
  schemas:
    RatesUpdate:
      type: object
      description: Nightly rate update over a date range. Modeled.
      required:
      - from
      - to
      - price
      properties:
        from:
          type: string
          format: date
        to:
          type: string
          format: date
        price:
          type: number
        currency:
          type: string
    Error:
      type: object
      properties:
        error:
          type: string
        message:
          type: string
  parameters:
    PropertyId:
      name: propertyId
      in: path
      required: true
      schema:
        type: string
      description: The property (listing) identifier.
  securitySchemes:
    basicAuth:
      type: http
      scheme: basic
      description: 'HTTP Basic auth. Send `Authorization: Basic <base64(api_key)>`, where api_key is generated on the Uplisting Connect page. V2 endpoints also require a Client ID partner identifier.'
